
html{
    height: 100%;
    
}
body{
    perspective: 800px;
    padding-top: 0px;
    margin-top: 0px;
    height: 100%;
    
}
/* Nav bar*/
.blue{
    background-color: blue;
    width: 60%;
    margin: auto;
    position:sticky;
    top: 0;
    z-index: 1;
    
}
.container-fluid{
    background-image: linear-gradient( to left,rgb(238, 224, 198) 50%,white);
    height: 100px;
    
}
nav{
    height: 80px;
}

/*slider boustrap*/
#carouselExampleControls{
    position: relative;
    bottom: 80px;
    
    height: 600px;
    width: 100%;
}
.carousel-item{
    height: 600px;
}
.slid{
    width: 100%;
    height: 100%;
}

/*titr*/
#titre{
    position:absolute;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
  /*  animation: mymove 2s ;*/
    left: 15%;
    top: 26%;
    font-size: 30px;
    color: rgb(252, 249, 249);
   /* animation: titre 6s linear infinite;*/
    text-shadow:3px 3px 8px rgb(2, 2, 2);
    
   
}
@keyframes titre{
0%{
    color: rgb(230, 61, 83);
    text-shadow:3px 3px 8px rgb(168, 233, 49);
    left: 0;
}
50%{
    color:rgb(168, 233, 49);
    text-shadow:3px 3px 8px rgb(216, 166, 29);
    left: 10%;
}
100%{
    color:rgb(194, 45, 214);
    text-shadow:3px 3px 8px rgb(36, 202, 224);
    left: 25%;
}

}
@keyframes mymove {
    from {left: -100px;}
    to { left:25%;top:35%;}
  }
 
   
  
  @keyframes mymov {
    from {transform: rotateZ(50deg);}
    to { transform: rotateZ(-50deg);}
    
  }


  /*image*/

  .parent{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.child{
 /*  background-color: antiquewhite;*/
    height: 300px;
    width: 250px;
    margin-bottom: 20px;
    margin-left: 10px;
   
}
.child p{
    background-color: rgb(241, 235, 144);
    position: relative;
    bottom: 6px;
    color:white;
    width: 60%;
}
.child .hight{
  background-color:   rgb(236, 213, 150);
  position: relative;
  bottom: 6px;
  color:white;
  width: 60%;
}

h3{
    border-bottom: 2px solid green;
    width: 15%;
    margin-top: 50px;
    margin: auto;
   
}
h3:hover{
    background-color: aqua;
    color:white;
}
.btnn {
    background-image: linear-gradient(to left,rgb(236, 217, 132),white);
  border: none;
  color: black;
  padding: 1px ;
  border-radius:10%;
  font-size: 10px;
  float:right;
  position: relative;
  top: 37px;
}


.btnn:hover {
    background-image: linear-gradient(to right,rgb(62, 219, 240),white);
}

/*sold*/

.sold{
    position: relative;
    height: 300px;
    width: 81%;
    margin: auto;
    background-color: yellow;
    top: -100px;
    
   
    
}
/*ship*/

.custom-shape-divider-bottom-1642792885 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 101%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1642792885 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 300px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1642792885 .shape-fill {
    fill: #FFFFFF;
}
#solo{
    text-align: center;
    position: relative;
    font-size: 60px;
    z-index: 1;
    top: 200px;
}
#solo span{
    color: yellow;
}
#maga{
    font-size: 1.5vw;
    color: black;
    position: relative;
   left: 40%;
   z-index: 1;
    top: 120px;
}
.circle{
    position: relative;
    top: 140px;
    left: 70%;
    z-index: 1;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(245, 244, 244);
    height: 50px;
}
.flech{
    text-align: center;
    font-size: 200px;
  
}


/* this is a grid*/
#expmine{
    padding: 50px 10%;
}

.cont{

    display:grid;
    height: 680px;
    width: 80%;
    margin:   auto;
    margin-top: 40px;
   position: relative;
   margin-bottom: 80px;
    
    grid-template-columns: 2fr 0.8fr 0.8fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "child1 child2 child3"
    "child1 child4 child5"
    ;
}
#child1{
    background-color: red;
    grid-area: child1;
    position: relative;
}

#child2{
    background-color: rgb(63, 56, 56);
    grid-area: child2;
    position: relative;
}
#child3{
    background-color: rgb(28, 186, 214);
    grid-area: child3;
    position: relative;
}
#child4{
    background-color: rgb(190, 36, 178);
    grid-area: child4;
    position: relative;
}
#child5{
    background-color: rgb(190, 115, 0);
    grid-area: child5;
    position: relative;
}
.cont img{
    position:absolute;
    width: 100%;
    height: 100%;
}

/*slider animation img*/
.slider{
    height: 250px;
    width: 90%;
    position: relative;
    
    margin:60px auto;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-track{
    display: flex;
    width: calc(250px *18);
    animation: scrol 50s  linear infinite;
}
.slide{
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    
}
.slide img{
    width: 100%;
    height: 100%;
    
}
.slider::before,
.slider::after{
    background: linear-gradient(to right,rgb(255, 255, 255,1) 0% ,rgb(255, 255, 255,0) 100%);
    content: ' ';
    height: 100%;
    position:absolute;
    width: 10%;
    z-index: 1;
}
.slider::before{
    top: 0;
    left: 0;
}
.slider::after{
    top: 0;
    right: 0;
}
.slide img:hover{transform: translateZ(20px);
  }
  @keyframes scrol{
    0%{
        transform:translateX(0);

    }
   100%{ transform:translateX(calc(-250px *9));
}
}

/*label*/

.contlabel ,.contlabel2 ,.contlabel3,.contlabel4{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap-reverse;
   width: 80%;
    margin: 10px auto;
   padding:  10px 5px;

}
.contlabel2 ,.contlabel4{
    flex-wrap: wrap;
    background-color: rgb(243, 240, 235);

}

.contlabel img , .contlabel2 img ,.contlabel3 img ,.contlabel4 img{
    
    width: 30%;
}
.pur{
    border: 0.5px solid black;
    padding: 5px;
    margin: 8px;
}
.pur:hover{
    border:0.5px solid rgb(167, 167, 223);
    color: cornflowerblue;
    
}
.ex{
    padding: 5px;
    border: none;
    background-color: rgb(166, 207, 235);
    margin: 8px;
}
.ex:hover{
    background-color: aqua;
    color: wheat;
}










/*footer*/

.foot1{
    background-color: rgb(95, 88, 88);
    margin:  100px auto;
    width: 50%;
    padding: 25px;
   display: flex;
   align-items: center;
   flex-direction: column;
   color: white;
   height: 200px;
   border-radius: 45% 3% /193px;
   position: relative;
}

.foot1 .email{
    border: none;
    border-radius: 15px;
    padding: 8px;

}
.foot1 .sum{
    background-color: rgb(95, 88, 88);
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgb(129, 212, 233);
    margin-left: 25%;
}
.foot1 .sum:hover{
    background-image: linear-gradient(to left,rgb(62, 219, 240),white);
}
.circl{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
    position:absolute;
    overflow: hidden;
}
.circl1{
    top: -50px;
    left: -100px;
    overflow: hidden;
}
.circl2{
    top: 105px;
    right: -70px;
    overflow: hidden;
}

/*foot2*/
i{
    color: antiquewhite;
}
ul li {
    list-style-type: none;
    text-decoration: none;
}
ul li a {
   color: white;
    text-decoration: none;
}
.foot2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    background-color: rgb(95, 88, 88);
   
}
.network,.fa{
 
    margin-bottom: 15px;
}

.network ul {
    display: flex;
}
.network ul li a {
    padding-left: 20px;
  
}












@media only screen and (max-width:850px) {
    .navbar-nav{
        background-image: linear-gradient( to bottom,rgb(238, 224, 198) 50%,white);
       
    }
          #expmine{
           padding: 50px 8%;
          }
          .cont{
      
            position: relative;
            grid-template-columns: 1fr 1fr  ;
            grid-template-rows: 1fr 1fr 1fr   ;
            grid-template-areas: 
            "child1 child1"
            "child2 child3" 
            "child4 child5"  ;
          }
          .blue{
   
            width: 100%;
            margin: auto ;
            position: absolute;
           
            top: -10px;
           z-index: 1;
       
        
            }
            nav{
                height: 60px;
            }
    
           .container-fluid{
            background-image: linear-gradient( to bottom,rgb(238, 224, 198) 50%,white);
                height: 80px;
               
            
                
            }
          .contlabel img , .contlabel2 img ,.contlabel3 img ,.contlabel4 img{
    
                width: 100%;
                height: 350px;
                padding-bottom: 10px;
            }
            .foot1{
                width: 90%;
            }
            .foot2{
                align-items: center;
                flex-direction: column;
            }
           .fa{
             width: 100%;
             }
    
}