header{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: rgb(236, 233, 228);
}
.body{
   padding: 50px 10px;
    display: flex;
    
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.cate {
    width: 30%;
}
.cont{
    width: 80%;
    position: relative;
}

.cont-img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
   
}
.ana{

    width: 40%;
    height: 300px;
    background-color: rgb(252, 247, 247);
    margin: 15px;
    padding: 8px;
    position: relative;
}
img{
   
    width: 95%;
    height: 200px;
   
}
.circle{
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(156, 240, 194);
    position: relative;
    animation: cir 40s linear infinite;
}
@keyframes cir{
    0%{
        top: 0%;
    }
    10%{    top: 10%;}
    20%{    top: 20%;}
    30%{    top: 30%;}
    40%{    top: 40%;}
    50%{    top: 50%;}
    60%{    top: 60%;}
    70%{    top: 70%;}
    80%{    top: 80%;}
    90%{    top: 90%;}
    100%{    top: 95%;}
}
.fa-arrow-right{
    
    position: absolute;
    margin: 37%;
}
.titre{
    text-align: center;
    margin: 10px;
}
h5{
    color: greenyellow;
}
h6{
    color: red;
}
ul li a {
    text-decoration: none;
}
ul li {
    list-style:none;
}
.fin{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    padding-top: 5px;
   
}
.fin #r{
  display: flex;
  justify-content: space-around;
  
}
#r p{
    border: 1px solid black;
    padding: 5px;
    margin-left: 3px;
}
@media only screen and (max-width:850px) {
    .cate{
        display: none;
    }
    .ana , .cont-img{
        width: 100%;
    }
    .body{
      
        align-items: center;
        flex-direction: column;
    }
    .fin{
        width: 100%;
    }
}